@charset "utf-8";
/*  Style page 

    Math Placement Test Project

    Designed by: 
        Bruce Keener
        Matteo Filippi
        Mille Berg
*/


/* Form Position and format */

/*move login out of form*/

h1 
{
    margin-bottom: 20px;
    text-align: center;
}

div#mainDiv 
{
    margin: auto;
    width: 95vw;
    height:95vh;
    padding: 20px;
    box-shadow: 3px 3px 20px black;
    border-radius: 20px;
    background-color: white;
    text-align: center;
}

fieldset
{
    border: 0px;
}

div#cell 
{
    display: flex;
    flex-direction: column; 
    margin-bottom: 15px;
}

label 
{
    margin-bottom: 5px;
}

input#email,
input#password
{
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    font-size: 0.8em; 
    border-radius: 8px;
    border: 1px solid black;
    padding: 3px 8px;
    width: 50%;
    
    margin: auto;
}

.buttons
{
    font-size: 0.8em;
    border-radius: 8px;
    width: 120px;
    height: 40px;
    border: 1px solid rgb(0, 0, 0);
    padding: auto;
    margin: 0px 5%;
    box-shadow: 1px 1px 5px black;
}

.buttons:hover
{
    transform: scale(1.1);
}

.buttons:active
{
    transform: scale(1);
}